<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iCompany</title>
    <link rel="stylesheet" href="/media/compiled/style.css"/>
</head>
<script src="/media/vendor/requirejs/rjs.js" data-main="/media/js/doc_app/main"></script>
<body>
{% block content %}
{% endblock %}
</body>
</html>