<script type="text/html">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#employees">Employee List</a></li>
                <li class="active">Employee Form</li>
            </ol>
        </div>
        <div class="col-md-12">
            <div id="form-region"></div>
        </div>
    </div>
</script>