<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iCompany</title>
</head>
<script src="/media/vendor/requirejs/rjs.js" data-main="/media/js/apidoc_init"></script>
<body>
{% block content %}{% endblock %}
</body>
</html>