<script type="text/html">
    <div class="col-md-12">
        <div class="widget stacked">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Quick Shortcuts</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="shortcuts">
                    <a href="#employees" class="shortcut">
                        <i class="shortcut-icon icon-list-alt"></i>
                        <span class="shortcut-label">Employees</span>
                    </a>

                    <a href="#departments" class="shortcut">
                        <i class="shortcut-icon icon-bookmark"></i>
                        <span class="shortcut-label">Departments</span>
                    </a>

                    <a href="#permissions" class="shortcut">
                        <i class="shortcut-icon icon-signal"></i>
                        <span class="shortcut-label">Permissions</span>
                    </a>

                    <a href="#api_list" class="shortcut">
                        <i class="shortcut-icon icon-comment"></i>
                        <span class="shortcut-label">API List</span>
                    </a>
                </div> <!-- /shortcuts -->

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->
    </div> <!-- /span6 -->
</script>