<script type="text/html">
    <div class="progress">
        <div class="progress-bar progress-bar-secondary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">30% Complete (success)</span>
        </div>
    </div>
</script>